{% extends 'layouts/base.html' %}

{% block content %}



<h2 class="ui header">{{ title }}</h2>
            <div>
                {{ f.render_multi_form(form, multi="four") }}
            </div>

            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table class="ui sortable unstackable selectable celled table">
                    <thead>
                        <tr class="header_tr">
                            <th>Date (AEST)</th>
                            <th>Participant</th>
                            <th>Reason</th>
                            <th>Status</th>
                            <th>Assigned</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for story in stories %}
                        <tr class="{{ story['resolved'] }}_tr" onclick="window.location.href = '{{ url_for('admin.manage_story', self_report_id=outlier.outlier_report.id) }}';">
                            <td class="date_td">{{ outlier['adjusted_date'] }}</td>
                            <td class="">{{ outlier['rank_name'] }}</td>
                            <td class="">{{ outlier['why_outlier'] }}</td>
                            <td class="">{{ outlier['status'] }}</td>
                            <td class="assigned_td">{{ outlier['assigned'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {

            function filter_stories() {
                var resolved_selection = $('#resolved').dropdown('get text');
                var assigned_selection = $('#assigned').dropdown('get text');

                var rows = $("table").find("tr");
                rows.hide();
                rows.filter(function () {
                    if ($(this).hasClass("header_tr")) {
                        return true;
                    }

                    var ret = true;
                    if (!$(this).hasClass(resolved_selection+"_tr")) {
                        ret = false;
                    }
                    if (assigned_selection != '' && $(this).find('.assigned_td').text().indexOf(assigned_selection) <= -1) {
                        ret = false;
                    }

                    return ret;
                }).show()
            }

            filter_stories();

            $('#resolved').change(function() {
                filter_stories();
            });

            $('#assigned').change(function() {
                filter_stories();
            });
        });
    </script>