{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% set deletion_endpoint = 'admin.delete_category_request' %}

{% set endpoints = [
    ('admin.category_info', 'Group information'),
    ('admin.change_category', 'Edit category'),
    (deletion_endpoint, 'Delete category')
] %}

{% macro navigation(items) %}
<div class="ui vertical fluid secondary menu">
    {% for route, name in items %}
        {% set href = url_for(route, category_id=category.id) %}
        <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ href }}">
            {{ name }}
        </a>
    {% endfor %}
</div>
{% endmacro %}

{% macro category_info(category) %}
<table class="ui compact definition table">
    <tr>
        <td>Name</td>
        <td>{{ category.name }}</td>
    </tr>
    <tr>
        <td>Stories</td>
        <td>{{ category.stories|join(', ') }}</td>
    </tr>
</table>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header shirou-primary">
                {{ category.name }}
                <div class="sub header">View and manage category {{ category.name }}.</div>
            </h2>
        </div>
        <div class="stretched divided very relaxed row">
            <div class="four wide column">
                {{ navigation(endpoints) }}
            </div>

            <div class="eight wide column">
                {% if request.endpoint == deletion_endpoint %}
                <h2 class="ui red block header">
                    <i class="warning circle icon"></i>
                    <div class="content">
                        This action is permanent
                        <div class="sub header">
                            Deleting a story category is not a reversible change and cannot be recovered.
                        </div>
                    </div>
                </h2>

                <div class="ui form">
                    <div class="inline field">
                        <div class="ui deletion checkbox">
                            <input type="checkbox" tabindex="0" class="hidden">
                            <label>I understand that this action cannot be undone.</label>
                        </div>
                    </div>
                    <a class="ui disabled negative deletion button">
                        Delete this category
                    </a>
                </div>
                {% elif form %}
                {{ f.render_form(form) }}
                {% else %}
                {{ category_info(category) }}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.deletion.checkbox').checkbox({
        onChecked: function () {
            $('.deletion.button').removeClass('disabled')
                .attr('href', '{{ url_for('admin.delete_category', category_id=category.id) }}');
        },
        onUnchecked: function () {
            $('.deletion.button').addClass('disabled').removeAttr('href');
        }
    });
</script>
{% endblock %}