{% import 'macros/card_macros.html' as card %}
{% extends 'layouts/base.html' %}

{% block content %}
<div class="bg{{ range(1,3) | random }} masthead segment">
  <div class="ui container">
    <div class="introduction">
      <h1 class="ui inverted header shirou-secondary">
        <span class="library">
          #NotTheOnlyOne
        </span>
        <span class="tagline shirou-secondary">
        <div class="sub header">Capturing, Curating and Sharing stories of Racism and Intersectionality</div>
          <a class="shirou-secondary" href="https://github.com/HealthHackAu2020/not_the_only_one" target="_blank">A HealthHack 2020 Project</a>
        </span>
      </h1>
      <div class="ui hidden divider"></div>

      {# <div class="item">
        <a class="twitter-follow-button twitter" href="https://twitter.com/NTOO_Org" data-show-count="false">
          Follow
        </a>
        <a class="twitter-share-button twitter"
          href="http://twitter.com/share"
          data-text="#NotTheOnlyOne"
          data-url="https://test.nottheonlyone.org/"
          data-via="NTOO_Org">
        </a>
        <script type="text/javascript">
        window.twttr=(function(d,s,id){var t,js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return}js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);return window.twttr||(t={_e:[],ready:function(f){t._e.push(f)}})}(document,"script","twitter-wjs"));
        </script>
      </div> #}


      <a href="#" class="ui huge searchButton inverted download button">
        Search Now
      </a>
      <br />
      <br />
      <div class="ui statistic white">
        <div class="value">
          {{ num | commafy }}
        </div>
        <div class="label">
          Collected
        </div>
      </div>
      <br />
      <div class="ui statistic white">
        <div class="value">
          {{ curated | commafy }}
        </div>
        <div class="label">
          Curated
        </div>
      </div>
      <br/>
      <br/>
      <h2 class="ui inverted header">
        {% for category in categories %}
          <a class="shirou-secondary" href="{{ category.url }}">{{ category.name }}</a> 
        {% endfor%}
      </h2>
      
    </div>
  </div>
</div>

<div class="ui vertical stripe intro segment">
  <div class="ui stackable very relaxed center aligned grid container">
    <div class="row">
      <div class="twelve wide column">
        <h1 class="ui header shirou-primary"><strong>Explore Stories</strong></h1>
        
        <div class="ui three stackable cards solid">
            {{ card.render_three_cards(stories) }}
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}