{% import 'macros/form_macros.html' as f %}

<i class="close icon"></i>
<div class="ui header">
  {{ title }}
</div>

{% set flashes = {
    'error':   get_flashed_messages(category_filter=['form-error']),
    'warning': get_flashed_messages(category_filter=['form-check-email']),
    'info':    get_flashed_messages(category_filter=['form-info']),
    'success': get_flashed_messages(category_filter=['form-success'])
} %}

<div class="content">
  <form id="searchForm" name="searchForm" class="ui form" method="post">
    {{ form.hidden_tag() }}
    {{ f.render_form_field(form.terms) }}

    {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
    {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
    {{ f.form_message(flashes['info'], header='Information', class='info') }}
    {{ f.form_message(flashes['success'], header='Success!', class='success') }}

  </form>
  <div>
  </div>
  <br />
  <div class="actions">
    {% block footer %}
    <div class="ui black deny button">Cancel</div>
    <div class='ui positive right labeled icon button' id="submitSearch" name="submit">
      Submit
      <i class="checkmark icon"></i>
    </div>
    {% endblock %}
  </div>