<i class="close icon"></i>
{# <div class="ui header">
    {{ title }}
</div> #}


<div class="content">
  {{ oembed | safe }}
  <br />
  <div class="actions">
    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ share_url }}">
      <div class="ui circular icon facebook button"><i class="facebook icon"></i></div>
    </a>

    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ share_url }}">
      <div class="ui circular icon  twitter button">
        <i class="twitter icon"></i>

      </div>
    </a>

    <a target="_blank"
      href="https://www.linkedin.com/shareArticle?mini=true&url={{ share_url }}&title=&summary=#NotTheOnlyOne&source=">
      <div class="ui circular icon  linkedin button">
        <i class="linkedin icon"></i>

      </div>
    </a>

    <a target="_blank"
      href="mailto:info@example.com?&cc=&bcc=&subject=#NotTheOnlyOne Project&body=I'd like to share this story with you: {{ share_url }}">
      <div class="ui circular icon  instagram button">
        <i class="envelope icon"></i>

      </div>
    </a>
  </div>
</div>